:root{
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75);
    --Verylightgray: hsl(0, 0%, 95%);
    --lexendDeca:'Lexend Deca';
}
a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Big Shoulders Display','Lexend Deca', sans-serif;
}
.container{
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}


.wrap{
    display: flex;
    background-color: grey;
    width: fit-content;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
}
.box{
    max-width: 250px;
    padding: 2rem;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
h2{
    text-transform: uppercase;
    font-size: 2rem;
}


.box p{
    margin-bottom: .5rem;
    color: var(--Verylightgray);
    font-family: var(--lexendDeca);
}

.box a{
    background-color: white;
    width: 70%;
    padding: .5rem .5rem;
    border-radius: 1.2rem;
    text-align: center;
    font-family: var(--lexendDeca);
    font-size: .8rem;
    transition: .2s ease-in;
}


.dark-cyan a{
    color: var(--Darkcyan);
}
.orange a{
    color: var(--Brightorange);
}
.very-dark-cyan a{
    color: var(--Verydarkcyan);
}


.box a:hover{
    border: 1px solid white;
    background-color: transparent;
    color: rgb(251, 251, 251);
}





.orange{
    background-color: var(--Brightorange);
}
.dark-cyan{
    background-color: var(--Darkcyan);
}
.very-dark-cyan{
    background-color: var(--Verydarkcyan);
}

footer{
    text-align: center;
}




@media screen and (max-width: 720px) {
    .wrap{
        /* margin: 0 auto; */
        display: block;
        margin-top: 2rem;
    }
}